:root {
  --primary: #65ea00;
  --secondary: #26ad24;
  --light: #ffffff;
  --dark: #000;
  --diabled: #e7e7e7;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  background: rgb(44, 242, 187);
  background: linear-gradient(90deg, rgba(44, 242, 187, 1) 0%, #65ea00 100%);
  background-repeat: no-repeat;
}

*:first-letter {
  text-transform: capitalize;
}

.roundBorder {
  border-radius: 5px;
}

.list {
  margin: 25px auto;
  padding: 25px;
  background-color: var(--light);
  width: 100%;
  max-width: 30vw;
  height: auto;
  animation: aparecer 1s ease;
}

/* media query para list */ 

@media screen and (max-width: 768px) {
  .list {
    max-width: 85vw;
  }
} 

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dateRight {
  display: flex;
  align-items: center;
}

#dateNumber {
  font-size: 50px;
}

#dateText {
  letter-spacing: 3px;
  text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText {
  font-weight: bold;
}

#dateMonth,
#dateYear {
  margin-left: 7px;
  font-size: 20px;
}

form {
  margin: 20px 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 35px auto;
  grid-column-gap: 15px;
}

input {
  border: none;
  padding-left: 10px;
  background-color: var(--diabled);
}

input:focus {
  outline: none;
}

.addTaskButton {
  height: 35px;
  border-radius: 50px;
  font-size: 18px;
  background-color: var(--diabled);
}

.orderButton {
  background-color: var(--secondary);
  color: var(--light);
  font-weight: bold;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.task {
  background-color: var(--primary);
  padding: 15px;
  color: var(--light);
  cursor: pointer;
}

.done {
  background-color: var(--diabled);
  text-decoration: line-through;
  color: var(--dark);
}

/* Boton limpiar */

.clearContainer {
  display: flex;
  padding: 0.5em 0 0 0;
  align-items: center;
  justify-content: center;
}

.clearButton {
  display: none;
  justify-content: center;
  text-align: center;
  width: 100%;
  border-radius: 0.25em;
  border: none;
  padding: 0.75em;
  background-color: var(--secondary);
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
